* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0px;
}

body, html {
    width: 266px;
    height: 470px;
    background-color: white;
    background-attachment: scroll;
}

body {
    height: 470px;
    background-color: white;
    background-attachment: scroll;
}

img {
    width: 267px;
    height: 1200px;
    margin: 0px 0px 0px 1px;
    border: 0px;
}

a { 
    background-color: darkred;
    text-align: center;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: red;
}