* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    background: gray url(../pacote-d013/imagens/fundo-madeira.jpg) center center/cover no-repeat fixed;
}

nav {
    padding-top: 10px;
    float: right;
}

nav a {
    display: block;
    padding: 5px;
    margin-right: 10px;
}

nav a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#phone {
    width: 300px;
    height: 620px;
    border-radius: 45px;
    background: white url(../pacote-d013/imagens/frame-iphone.png) center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    margin-top: 76px;
    margin-left: 16px;
    width: 267px;
    height: 472px;
    border: 0px;
    padding: 0px;
}